@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
#colunaMusculacao {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    background-color: #070707f8;
    color: white;
}

#conteudoNutricao {
    font-family: 'Exo 2', sans-serif;
    font-size: larger;
    margin-top: 260px;
    margin-left: 100px;
    margin-right: 100px;
    border-left: 4px solid #1c1b1c;
}

body {
    background-color: #1c1b1c;
}

p {
    font-family: Outfit;
    font-size: 1.7rem;
}
.altura-col{

   height:460px;    
   overflow: hidden; 
}

.video-contanier{
    overflow:hidden;
    display:block;
    height: 460px;


}
#videobjump{
    margin-top: -320px;
}
#videohclimb{
    margin-top:-200px;
}
#videocordasimul{
    margin-top: -150px;
    
}
#videostiff{
    margin-top: -220px;
}
#videocross{
    margin-top: -200px;
}
#videorsentada{
    margin-top: -220px;
}
#videocrawl{
    margin-top: -270px;
}
#videonborboleta{
margin-top:-150px ;
}
#videoponte{
    margin-top: -350px;
}
#videoombros{
    margin-top: -550px;
}
#videorollup{
    margin-top:-400px ;
    
}