@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Comfortaa;
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* BANNER */

#banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

video {
    min-width: 100%;
    min-height: 100%;
}

#banner video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

#banner #conteudo {
    font-family: Comfortaa;
    text-align: center;
    color: white;
    margin-top: 150px;
}

#content {
    border-bottom: #ffffff 1px solid;
    width: auto;
    padding: 10px;
    margin-top: 90px;
}

#background {
    position: absolute;
    z-index: 0;
}


/* Modalidades */

.container {
    width: 100%;
}

#modalidades {
    font-family: Outfit;
    background-size: cover;
    background-color: #ffffff;
    padding: 50px;
    padding-bottom: 50px;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: left;
}

#textTitulos {
    font-family: comfortaa;
    border-bottom: 1px solid black;
    padding: 10px;
    width: 60%;
    margin: auto;
    color: black;
}

.tituloCarousel {
    border-bottom: 1px solid;
    border-image: linear-gradient(45deg, rgb(255, 81, 0), rgb(255, 221, 0)) 1;
}

#textTitulos2 {
    border-bottom: 1px solid white;
    padding: 10px;
    width: 60%;
    margin: auto;
    color: #ffffff;
    font-family: Outfit;
}

h3.text-center {
    margin-bottom: 20px;
    color: black;
    font-family: comfortaa;
    border-bottom: 1px solid black;
    padding: 5px;
}

.img-responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
}

#btsaiba {
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Comfortaa;
    border: 1px solid rgb(31, 31, 31);
    margin-top: 15px;
}

#btsaiba:hover {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}

#btsaiba:focus {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.3s;
}

.flex {
    margin-top: 20px;
}


/* Dicas */

#containerDicas {
    font-family: Outfit;
    background-size: cover;
    background: rgb(18, 18, 18);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(10, 10, 10) 50%, rgb(12, 12, 12) 100%);
    padding: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}

#areaDicas {
    text-align: center;
}

#imgDicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagemDicas {
    margin-top: 30px;
}

#imagemDicas:hover {
    opacity: 0.4;
    transition: 0.5s;
}


/* Carousel */

#pagina {
    background: rgb(18, 18, 18);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(10, 10, 10) 50%, rgb(12, 12, 12) 100%);
    padding-bottom: 100px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#imagem {
    max-width: 1200px;
    width: 100%;
    height: 100%;
}


/*SCROLL BAR*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-track {
    background-color: rgb(12, 12, 12);
    box-shadow: inset 0 0 5px rgb(22, 22, 22);
}

 ::-webkit-scrollbar-thumb {
    background: rgb(153, 5, 0);
    background: linear-gradient(0deg, rgb(134, 0, 0) 0%, rgb(161, 5, 0) 43%, rgb(189, 0, 0) 81%, rgb(224, 26, 0) 99%);
    border-radius: 100px;
}


/*FIM SCROLL BAR*/


/* FOOTER */

#assine {
    color: #ffffff;
    text-decoration: underline;
}

#assine:hover {
    color: #fffb00;
    transition: 0.5s;
    text-decoration: none;
}

div#principal {
    padding: 50px;
    padding-bottom: 50px;
    background-color: #090909;
}

div#subPrincipal {
    border-left: 1px solid rgb(255, 255, 255);
    color: #ffff;
}


/* NAVBAR */

.navbar-default {
    background-color: #0f0f0f;
    border: none;
    font-family: Comfortaa;
    padding: 10px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #f96400;
    transition: 0.5s;
}

.navbar-default .navbar-text {
    color: aliceblue;
}

.navbar-default .navbar-nav>li>a {
    color: aliceblue;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #f96400;
    transition: 0.5s;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #f96400;
    background-color: #f96400;
    transition: 0.5s;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #000000;
    background-color: #f96400;
    transition: 0.5s;
}

.navbar-default .navbar-toggle {
    border-color: #f9dc0000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #f96400;
    transition: 0.5s;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: aliceblue;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: aliceblue;
}

.navbar-default .navbar-link {
    color: aliceblue;
}

.navbar-default .navbar-link:hover {
    color: #f96400;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: aliceblue;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #f96400;
        transition: 0.5s;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #000000;
        background-color: #f96400;
        transition: 0.5s;
    }
}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    #content {
        margin-left: 100px;
        margin-right: 100px;
        font-size: 2.5rem;
    }
    h4 {
        font-size: 1.3rem;
        margin: 20px;
    }
    #textTitulos {
        width: 100%;
        font-size: 1.6rem;
    }
    #textTitulos3 {
        font-size: 1.6rem;
    }
    h3#subTitulo {
        font-size: 1.9rem;
    }
    div#img {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img-rounded {
        width: 70%;
    }
    #textTitulos2 {
        font-size: 2rem;
    }
    #subTitulo2 {
        font-size: 1.7rem;
    }
    #h3Mod {
        font-size: 1.9rem;
    }
    #imagemDicas {
        width: 60%;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #imgBan {
        margin: auto;
    }
    #acss-dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 400px;
        margin: auto;
    }
    #contato {
        font-size: 1.5rem;
    }
    #pagina {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .carousel-inner {
        margin: auto;
    }
    #textFooter {
        font-size: 1.3rem;
    }
    #h2Foot {
        font-size: 1.7rem;
    }
    #liFoot {
        font-size: 1.3rem;
    }
}