@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


/*Banner*/

#banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#banner #conteudo {
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid white;
    margin: 100px;
    box-shadow: yellow 5px 5px;
}

#banner #conteudo #content {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#background {
    position: absolute;
    z-index: 0;
}

#conteudo {
    position: absolute;
    z-index: 1;
    display: flex;
    padding: 20px;
}


/*Banner*/

#page-content {
    width: 85%;
    margin: auto;
    margin-top: 720px;
    font-weight: bold;
    font-size: 1.3em;
}

.bold {
    font-weight: bolder;
}


/*-----------FOOTER-----------------*/

div#principal {
    margin-top: 40px;
    padding: 50px;
    padding-bottom: 50px;
    background-color: #090909;
}

div#subPrincipal {
    border-left: 1px solid yellow;
    color: #ffff;
}


/* ----------------------NAVBAR ------------------*/

.navbar-default {
    background-color: #090909;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #f9dc00;
}

.navbar-default .navbar-text {
    color: aliceblue;
}

.navbar-default .navbar-nav>li>a {
    color: aliceblue;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #f9dc00;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #f9dc00;
    background-color: #f9dc00;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #000000;
    background-color: #f9dc00;
}

.navbar-default .navbar-toggle {
    border-color: #f9dc00;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #f9dc00;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: aliceblue;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: aliceblue;
}

.navbar-default .navbar-link {
    color: aliceblue;
}

.navbar-default .navbar-link:hover {
    color: #f9dc00;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: aliceblue;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #f9dc00;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #000000;
        background-color: #f9dc00;
    }
}