@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
#colunaMusculacao {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    background-color: #070707f8;
    color: white;
}

body {
    background-color: #1c1b1c;
}

p {
    font-family: Outfit;
    font-size: 1.7rem;
}

@media only screen and (max-width: 767px) {
    #colunaMusculacao {
        margin-left: 30px;
        margin-bottom: 15px;
    }
    h1 {
        font-size: 1.9rem;
    }
    p {
        font-size: 1.5rem;
    }
    iframe {
        height: 190px;
        width: 350px;
    }
    #rowMusculacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #textFooter {
        font-size: 1.3rem;
        font-family: Comfortaa;
    }
    #h2Foot {
        font-size: 1.7rem;
    }
    #liFoot {
        font-size: 1.3rem;
    }
}