.flex-dashboard header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.975);
    padding: 10px 50px;
    font-family: Comfortaa;
    border-bottom: 2px rgb(19, 19, 19) solid;
}

.flex-dashboard header a {
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.flex-dashboard header a:hover {
    color: #bdbdbd
}

.flex-dashboard header a>i {
    color: rgb(255, 255, 255);
}


