.flex-dashboard header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 60px;
    background-color: rgb(15, 15, 15);
    padding: 25px;
    padding-right: 30px;
    font-family: Comfortaa;
    border-bottom: 1px solid rgba(255, 255, 255, 0.185);
    font-size: 0.9rem;
}

.flex-dashboard header a {
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.flex-dashboard header a>i {
    color: rgb(255, 255, 255);
}

.flex-dashboard header a>i:hover {
    color: rgb(255, 94, 0);
    transition: 0.5s;
}