            @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            .login {
                height: 100%;
                display: flex;
                flex-direction: row;
            }
            
            .login-form {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-image: url('https://i.ibb.co/n7m8g96/Design-sem-nome-17.png');
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            .div-banner {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #191919;
            }
            
            .cartaz {
                margin-top: 0px;
            }
            
            #bannerLogin {
                width: 350px;
                color: rgb(0, 0, 0);
                font-family: Comfortaa;
                border-left: 1px solid;
                border-image: linear-gradient(45deg, rgb(255, 81, 0), rgb(255, 221, 0)) 1;
                padding-left: 10px;
            }
            
            #btn-back-index {
                margin-top: -10px;
                text-decoration: none;
                color: rgb(0, 0, 0);
            }
            
            #btn-back-index:hover {
                color: #ff6600;
                transition: 0.5s;
            }
            
            #textH1 {
                font-size: 1.5rem;
            }
            
            .login-form-wrapper {
                width: 400px;
                height: auto;
                max-width: 400px;
                padding: 30px;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: rgba(255, 255, 255, 0.637);
                padding-bottom: 10px;
                padding-top: 30px;
                color: rgb(0, 0, 0);
                border-radius: 10px;
            }
            
            .login-form-wrapper button {
                width: 100%;
                background: rgb(251, 203, 17);
                background: linear-gradient(90deg, rgb(255, 204, 0) 0%, rgb(255, 115, 0) 50%, rgb(255, 81, 0) 100%);
                border: none;
                color: rgb(255, 255, 255);
                padding: 5px;
            }
            
            .login-form-wrapper button:hover {
                background: rgb(255, 115, 0);
                transition: 0.5s;
            }
            
            input[type="password"],
            [type="email"] {
                outline: none;
            }
            
            #cadastro {
                margin-top: -10px;
                text-decoration: none;
                color: rgb(0, 0, 0);
            }
            
            #cadastro:hover {
                color: #ff6600;
                transition: 0.5s;
            }
            
            #assine {
                color: #ffffff;
                text-decoration: underline;
            }
            
            #assine:hover {
                color: #fffb00;
                transition: 0.5s;
                text-decoration: none;
            }
            
            @media only screen and (max-width: 1199px) {
                .div-banner {
                    display: none;
                }
                .login-form {
                    width: 100%;
                    background-image: url('https://i.ibb.co/n7m8g96/Design-sem-nome-17.png');
                    background-size: cover;
                }
            }