            @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            .login {
                height: 100%;
            }
            
            .login-form {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            
            #bannerLogin {
                width: 350px;
                color: rgb(255, 239, 15);
            }
            
            #textH1 {
                font-size: 2rem;
            }
            
            .login-form-wrapper {
                width: 400px;
                height: auto;
                max-width: 400px;
                padding: 20px;
                background-color: rgba(41, 41, 41, 0.712);
                padding-bottom: 20px;
                padding-top: 15px;
                color: white;
                border-radius: 9px;
            }
            
            .login-form-wrapper button {
                width: 100%;
                background: rgb(251, 203, 17);
                background: linear-gradient(90deg, rgb(255, 204, 0) 0%, rgb(255, 115, 0) 50%, rgb(255, 81, 0) 100%);
                border: none;
                color: rgb(255, 255, 255);
            }
            
            .login-form-wrapper button:hover {
                background: rgb(255, 115, 0);
                transition: 0.5s;
            }
            
            input[type="password"],
            [type="email"] {
                outline: none;
            }
            
            #cadastro {
                margin-top: -10px;
                text-decoration: none;
                color: rgb(255, 255, 255);
            }
            
            #cadastro:hover {
                color: #fffb00;
                transition: 0.5s;
            }
            
            #assine {
                color: #ffffff;
                text-decoration: underline;
            }
            
            #assine:hover {
                color: #fffb00;
                transition: 0.5s;
                text-decoration: none;
            }
            /* FOOTER */
            
            div#principal {
                margin-top: 40px;
                padding: 50px;
                padding-bottom: 50px;
                background-color: #090909;
                color: #ffffff;
            }
            
            div#subPrincipal {
                border-left: 1px solid yellow;
            }