            @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            body {
                font-family: 'Montserrat', sans-serif;
            }
            
            .login {
                height: 100%;
            }
            
            .login-form {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            
            #bannerLogin {
                width: 350px;
                color: white;
                background-color: black;
                padding: 9px;
                border: 3px solid;
                border-image: linear-gradient(90deg, #000000, #fffb00 100%) 1;
            }
            
            #textH1 {
                font-size: 2rem;
            }
            
            .login-form-wrapper {
                width: 350px;
                height: 400px;
                border: 3px solid;
                border-image: linear-gradient(90deg, #000000, #fffb00 100%) 1;
                max-width: 400px;
                padding: 20px;
                background-color: rgba(49, 49, 49, 0.432);
                padding-bottom: 50px;
                padding-top: 50px;
                color: white;
                margin-top: 10px;
            }
            
            #backgroundLogin {
                background-image: url('https://i.ibb.co/THFNKFT/Seamless-gold-rhombus-grid-pattern-on-black-background-vector.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                object-fit: cover;
                opacity: 0.8;
                border: solid 5px rgba(0, 0, 0, 0.719);
                width: 500px;
                height: 590px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            
            .login-form-wrapper button {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.993);
                border: none;
            }
            
            .login-form-wrapper button:hover {
                background: rgb(255, 238, 0);
                color: #000000;
                font-weight: bolder;
                transition: 0.5s;
            }
            
            input[type="password"],
            [type="email"] {
                outline: none;
                font-weight: bolder;
            }
            
            #cadastro {
                margin-top: -10px;
                text-decoration: none;
                color: white;
                background-color: #000000;
                padding: 6px;
                border: none;
                font-size: 14px;
            }
            
            #cadastro:hover {
                background: rgb(255, 238, 0);
                color: #000000;
                font-weight: bolder;
                transition: 0.5s;
            }
            
            #assine {
                color: #ffffff;
                text-decoration: underline;
            }
            
            #assine:hover {
                color: #fffb00;
                transition: 0.5s;
                text-decoration: none;
            }
            /* FOOTER */
            
            div#principal {
                margin-top: 40px;
                padding: 50px;
                padding-bottom: 50px;
                background-color: #090909;
                color: #ffffff;
            }
            
            div#subPrincipal {
                border-left: 1px solid yellow;
            }