            body {

                background-color: white;

                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
            }
            
            main {
                display: block;
                height: 100%;
                background-color: rgba(228, 228, 228, 0.993);
                width: calc(100% - 300px);
            }
            
            main .main-content {
                padding: 30px;
                width: 100%;
                height: calc(100% - 70px);
                overflow-y: auto;
            }
            
            .main-content::-webkit-scrollbar-track {
                background-color: #f5f5f5;
            }
            
            .main-content::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
            }
            
            .main-content::-webkit-scrollbar-thumb {
                background-color: rgb(255, 72, 0);
                background-image: -webkit-linear-gradient(45deg, #ffa600 25%, rgb(255, 102, 0) 50%, #e60000);
            }
            
            .grafico {
                background-color: rgb(12, 12, 12);
                padding: 30px;
                width: 50%;
                border: 3px solid;
                border-image: linear-gradient(45deg, #070707 25%, rgb(8, 8, 8) 50%, rgb(10, 10, 10))1;
            }
            .panel-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
               
                padding: 20px;
            }
            .panel-50 {
                width: 48%;
            }
            .panel-row button {
                border: none;
                height: 130px;
                background: linear-gradient(45deg, #ffa600 25%, rgb(255, 102, 0) 50%);
                font-size: 22px;
                color: #fff;
                transition: 0.1s;
            }
            
            .panel-row button:hover {
                transform: scale(1.10);
                transition: 0.2s;
            }
            
            div#ajax-content { 
                width: 100%;
                margin-top: 20px;
                background-color: #f5f5f5;
                box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2); 
            }
            div #ajax-content button {
                background: linear-gradient(45deg, #ffa600 25%, rgb(255, 102, 0) 50%);
                color: #fff;
                border: none;
            }
            div#ajax-content button:hover {
                transform: scale(1.10);
                transition: 0.2s;
            }
            div#ajax-content label {
                font-size: 14px;
            }
            div#ajax-content table svg {
                cursor: pointer;
            }
            .dynamic-content {
                padding: 20px;
            }
            div.main-content-title {
                padding: 5px 0;
            }
            div.main-content-title h2 {
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 300;
                color:#2b2b2b ;
            }
            div.imc-parent {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px 0
            }
            div.imc {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                max-width: 1100px;
                width: 100%;
                padding: 40px 20px;
                background-color: white;
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
            }
            div.imc h2 {
                font-weight: lighter
            
            }
            div.imc h2 span:nth-child(1) {
                color: black;
            }
            div.imc h2 span:nth-child(2) {
                color: rgb(255, 127, 8);
            }
            div.dashboard-content {
                padding: 10px 0;
            }
            .dashboard-flex-parent {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }
            .dashboard-box {
                width: 100%;
                max-width: 220px;
                padding-top: 22%;
                border-radius: 15px;
                background-color: rgb(12, 12, 12);
                position: relative;
                margin: 0 10px;
                padding-bottom: 10px;
            }
            .dashboard-box-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .dashboard-box:hover {
               box-shadow: 0 0 1rem rgba(156, 156, 156, 0.4);
               transition: 0.4s;
               transform: scale(1.05)
            }
            div.box-icon {
                width: 46px;
                height: 46px;
                border-radius: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            div.box-icon svg {
                font-size: 19px;
            }
            div.value {
                margin-top: 10px;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
                color: #f5f5f5;
            }
            div.type {
                font-size: 15px;
                margin-top: 8px;
                color: #f5f5f5;
            }
            .box-weight {
                background-color: #ffa17c;
                color: #7c1a1a;
            }
            .box-pressure {
                background-color: #fab349 ;
                color: #742e00;
            }
            .box-imc {
                background-color: #f1ef6d;
                color: #7a713b;
            }
            .box-workout {
                background-color: #fffda4;
                color: #91aa00 ;
            }
            div.box-value-percentual{
                display: flex;
                flex-direction: row;
                align-items: center;
                color: white;
                margin-top: 25px;
            }
            div.box-value-percentual svg{
                margin-right: 8px;
            }
            div.box-value-weight {
                color: #ff8686;

            }
            div.box-value-pressure {
                color: #ffa366;
                
            }
            div.box-value-imc {
                color: #ffed88;
            }
            div.box-value-workout {
                color: #ecff81 ;
            }
            div.box-value-workout span {
                font-size: 15px;
            }
            @media screen and (max-width: 1150px){
                .dashboard-flex-parent {
                    flex-wrap: wrap;
                }
                .dashboard-box { 
                    padding-top: 0;
                    height: 240px;
                    border-radius: 15px;
                    background-color: rgb(12, 12, 12);
                    padding-bottom: 10px;
                    margin: 20px;
                }
                
                div.box-icon {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                div.box-value-percentual{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: white;
                    margin-top: 15px;
                }
               
            }
            .btn-edit-dashboard {
                color: #0098a3;
            };
            .btn-drop-dashboard {
                color: #f33232;
            };
                
