            body {
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
            }
            
            main {
                display: block;
                height: 100%;
                background-color: rgb(15, 15, 15);
                width: calc(100% - 135px);
            }
            
            main .main-content {
                padding: 30px;
                width: 100%;
                height: calc(100% - 70px);
                overflow-y: auto;
            }
            
            .main-content::-webkit-scrollbar-track {
                background-color: #202020;
            }
            
            .main-content::-webkit-scrollbar {
                width: 10px;
                background-color: #202020;
            }
            
            .main-content::-webkit-scrollbar-thumb {
                background-color: rgb(255, 72, 0);
                background-image: -webkit-linear-gradient(45deg, #ffa600 25%, rgb(255, 102, 0) 50%, #e60000);
            }
            
            .panel-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
            }
            
            .panel-50 {
                width: 48%;
            }
            
            .panel-row button {
                border-radius: 13px;
                border: none;
                height: 130px;
                background: linear-gradient(90deg, rgb(255, 115, 0) 0%, rgb(255, 60, 0) 50%, rgb(255, 51, 0) 100%);
                font-size: 1.3rem;
                color: #fff;
                transition: 0.1s;
                font-family: Comfortaa;
            }
            
            #btn-calcular {
                border: none;
                background: linear-gradient(90deg, rgb(255, 115, 0) 0%, rgb(255, 60, 0) 50%, rgb(255, 51, 0) 100%);
                font-size: 1.1rem;
                color: #fff;
                transition: 0.1s;
                font-family: Comfortaa;
            }
            
            #btn-calcular:hover {
                transform: scale(1.10);
                transition: 0.2s;
            }
            
            .panel-row button:hover {
                transform: scale(1.10);
                transition: 0.2s;
            }
            
            div#ajax-content {
                border-radius: 12px;
                width: 100%;
                margin-top: 20px;
                background-color: #f5f5f5;
                box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
            }
            
            div #ajax-content button {
                background: linear-gradient(90deg, rgb(255, 115, 0) 0%, rgb(255, 60, 0) 50%, rgb(255, 51, 0) 100%);
                color: #fff;
                border: none;
            }
            
            div#ajax-content button:hover {
                transform: scale(1.10);
                transition: 0.2s;
            }
            
            div#ajax-content label {
                font-size: 14px;
            }
            
            div#ajax-content table svg {
                cursor: pointer;
            }
            
            .dynamic-content {
                padding: 20px;
            }
            
            div.main-content-title {
                padding: 10px;
            }
            
            #content-title-h2 {
                padding: 10px;
            }
            
            div.main-content-title h2 {
                text-transform: uppercase;
                font-size: 1.5rem;
                color: rgb(116, 116, 116);
                font-family: Outfit;
                border-bottom: 1px solid rgb(109, 109, 109);
                padding: 2px;
                margin-bottom: 15px;
            }
            
            div.imc-parent {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px;
            }
            
            div.imc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 1100px;
                width: 100%;
                padding: 40px 20px;
                background-color: rgb(12, 12, 12);
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
                color: white;
            }
            
            #value-imc {
                color: #ff5e00;
            }
            
            div.imc h2 {
                font-weight: lighter
            }
            
            div.imc h2 span:nth-child(1) {
                color: rgb(255, 127, 8);
            }
            
            div.imc h2 span:nth-child(2) {
                color: rgb(255, 127, 8);
            }
            
            div.dashboard-content {
                padding: 10px 0;
            }
            
            .dashboard-flex-parent {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }
            
            .dashboard-box {
                width: 100%;
                max-width: 220px;
                padding-top: 22%;
                border-radius: 15px;
                background-color: rgb(3, 3, 3);
                position: relative;
                margin: 0 10px;
                padding-bottom: 10px;
                font-family: Outfit;
                height: 250px;
            }
            
            .dashboard-box-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .dashboard-box:hover {
                box-shadow: 0 0 0.5rem rgba(88, 88, 88, 0.4);
                transition: 0.4s;
                transform: scale(1.03)
            }
            
            div.box-icon {
                width: 46px;
                height: 46px;
                border-radius: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            div.box-icon svg {
                font-size: 19px;
            }
            
            div.value {
                margin-top: 10px;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
                color: #f5f5f5;
            }
            
            div.type {
                font-size: 15px;
                margin-top: 8px;
                color: #f5f5f5;
            }
            
            .box-weight {
                background-color: #ff5e00;
                color: #000000;
            }
            
            .box-pressure {
                background-color: #ff0000;
                color: #000000;
            }
            
            .box-imc {
                background-color: #ffd000;
                color: #000000;
            }
            
            .box-workout {
                background-color: #00ff15;
                color: #000000;
            }
            
            div.box-value-percentual {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: white;
                margin-top: 25px;
            }
            
            div.box-value-percentual svg {
                margin-right: 8px;
            }
            
            div.box-value-weight {
                color: #ff5e00;
            }
            
            div.box-value-pressure {
                color: #ff0000;
            }
            
            div.box-value-imc {
                color: #ffd000;
            }
            
            div.box-value-workout {
                color: #00ff15;
            }
            
            div.box-value-workout span {
                font-size: 15px;
            }
            
            .calculaImc {
                display: flex;
                flex-direction: row;
                margin: auto;
                margin-top: 30px;
                margin-bottom: 100px;
            }
            
            .calculaImc input {
                margin-left: 10px;
                margin-right: 40px;
            }
            
            .calculaImc label {
                color: white;
                font-family: Outfit;
                margin-top: 5px;
                border-left: solid 2px rgb(255, 81, 0);
                padding: 5px;
                font-size: 1.3rem;
            }
            
            .calculaImc input[type=button] {
                padding-right: 15px;
                padding-left: 15px;
                background: linear-gradient(90deg, rgb(255, 115, 0) 0%, rgb(255, 60, 0) 50%, rgb(255, 51, 0) 100%);
                border: none;
                color: rgb(255, 255, 255);
                border-radius: 10px;
                font-size: 1.1rem;
                font-family: Comfortaa;
            }
            
            .calculaImc input[type=button]:hover {
                transition: 0.5s;
                background: rgb(255, 72, 0);
                transform: scale(1.05);
            }
            
            .calculaImc input[type=button]:focus {
                box-shadow: 0 0 5px rgb(87, 87, 87);
                transform: scale(0.9);
                transition: 0.5s;
            }
            
            #resultado {
                font-size: 1.6rem;
                font-family: Outfit;
            }
            
            @media screen and (max-width: 1150px) {
                div.main-content-title {
                    text-align: center;
                }
                .dashboard-flex-parent {
                    flex-wrap: wrap;
                }
                .dashboard-box {
                    padding-top: 0;
                    height: 240px;
                    border-radius: 15px;
                    padding-bottom: 10px;
                    margin: 20px;
                }
                div.box-icon {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                div.box-value-percentual {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 15px;
                }
            }