            body {
                height: 100%;
            }
            
            main {
                display: block;
                height: 100%;
                background-color: rgb(15, 15, 15);
                width: calc(100% - 135px);
            }
            
            main .main-content {
                padding: 30px;
                width: 100%;
                height: calc(100% - 70px);
                overflow-y: auto;
                display: inline-block;
            }
            
            .main-content h3 {
                font-size: 1.5rem;
                color: rgb(116, 116, 116);
                font-family: Outfit;
                border-bottom: 1px solid rgb(109, 109, 109);
                padding: 5px;
                margin-bottom: 15px;
                text-align: left;
            }
            
            .main-content::-webkit-scrollbar-track {
                background-color: #f5f5f5;
            }
            
            .main-content::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
            }
            
            .main-content::-webkit-scrollbar-thumb {
                background-color: rgb(255, 72, 0);
                background-image: -webkit-linear-gradient(45deg, #ffa600 25%, rgb(255, 102, 0) 50%, #e60000);
            }
            
            .grafico {
                background-color: rgb(5, 5, 5);
                padding: 30px;
                margin-bottom: 40px;
            }
            
            .grafico2:hover {
                box-shadow: 0 0 1rem rgb(3, 3, 3);
                transform: scale(1.01);
                transition: 0.3s;
            }
            
            .grafico2 h3 {
                color: white;
                font-size: 1.3rem;
                font-family: Outfit;
            }
            
            .grafico2 #kg {
                border-bottom: 1px solid rgb(255, 208, 0);
                padding: 7px;
                color: rgb(255, 208, 0);
            }
            
            .segundaLinha {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            
            .grafico2 {
                background-color: rgb(4, 4, 4);
                padding: 30px;
                margin-bottom: 20px;
                margin: auto;
                width: 200px;
                height: 300px;
                display: flex;
                align-items: center;
                flex-direction: column;
                border-radius: 10px;
                margin-bottom: 40px;
            }
            
            .grafico2 .peso {
                color: white;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                border: 1px solid rgba(255, 255, 255, 0);
                border-radius: 100%;
                padding: 15px;
                background-color: rgba(255, 30, 0, 0.678);
                font-size: 1.5rem;
            }
            
            .grafico2 .calculadora {
                color: white;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                border: 1px solid rgba(255, 255, 255, 0);
                border-radius: 100%;
                padding: 15px;
                background-color: rgba(255, 217, 0, 0.664);
                font-size: 1.5rem;
            }
            
            .grafico2 .coracao {
                color: white;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                border: 1px solid rgba(255, 255, 255, 0);
                border-radius: 100%;
                padding: 15px;
                background-color: rgba(255, 0, 0, 0.568);
                font-size: 1.6rem;
            }
            
            .grafico2 .atividade {
                color: white;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                border: 1px solid rgba(255, 255, 255, 0);
                border-radius: 100%;
                padding: 15px;
                background-color: rgba(255, 0, 221, 0.568);
                font-size: 1.5rem;
            }
            
            .grafico2 .agua {
                color: white;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                border: 1px solid rgba(255, 255, 255, 0);
                border-radius: 100%;
                padding: 15px;
                background-color: rgba(0, 68, 255, 0.568);
                font-size: 1.5rem;
            }
            
            .grafico2 .maca {
                color: white;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                border: 1px solid rgba(255, 255, 255, 0);
                border-radius: 100%;
                padding: 15px;
                background-color: rgba(255, 0, 55, 0.658);
                font-size: 1.5rem;
            }
            
            .grafico2 .seta {
                color: rgb(0, 255, 13);
                padding: 4px;
            }
            
            p#seta {
                color: rgb(0, 255, 13);
                font-family: Outfit;
                font-size: 1.3rem;
            }
            
            p#check {
                color: rgb(0, 255, 13);
                font-family: Outfit;
                font-size: 1.3rem;
            }
            
            p#pressao {
                color: rgb(255, 0, 0);
                font-family: Outfit;
                font-size: 1.3rem;
            }
            
            p#calendario {
                color: rgb(255, 208, 0);
                font-family: Outfit;
                font-size: 1.3rem;
            }
            
            p#beber {
                color: rgb(255, 81, 0);
                font-family: Outfit;
                font-size: 1.3rem;
            }