html, body {
    height: 100%;
}

div.perfil-parent {
    padding: 10px 0;
}

div.perfil-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 750px;
    width: 100%;
    padding: 40px 20px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    
}

div.perfil-img {
    width: 40%;
}

div.img {
    height: 380px;
    width: 300px;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}


#imgDefault {
    height: 380px;
    width: 300px;
    position: center;
    cursor: pointer;
    transition: background .2s;
    border-radius: 5px;

}
#imgDefault:hover {
    transition: .2s;
    background-color: #af612a9f;
    border-radius: 5px;
}

div.main-content-title {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    font-family: Comfortaa;
    text-align: center;
    color: rgb(255, 255, 255);
}

#title {
    border-bottom: #ffffff 1px solid;
    width: auto;
    padding: 10px;
}

div.dados-perfil {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-transform: uppercase;
}
div.dados-perfil h4 {
    padding-bottom: 20px;
    font-weight: bold;
    padding-bottom: 9px;
}
span{
    font-style: italic;
    text-transform: lowercase;
    padding-left: 15px;
}

div#form-foto-perfil {
    margin: 15px 0;
}
input[type='file'] {
    display: none;

}

div.perfil button {
    border: none;
    margin-top: 1px;
    background: linear-gradient(45deg, #ffa600 25%, rgb(255, 102, 0) 50%);
    color: #fff;
    transition: 0.1s;
}

div.perfil button:hover {
    transform: scale(1.10);
    transition: 0.2s;
    color: #fff;
}    
