<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Health Track</title>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <h2>PowerFit</h2>
            </div>
            <div class="menu">
                <ul>
                    <li class="selected">
                        <i class="fas fa-home"></i>
                        <a id="dashPanel" href="dashboard.html">DASHBOARD</a>
                    </li>
                    <li>
                        <i class="fas fa-weight"></i>
                        <a href="gerenciarPesoAltura.html"> Gerenciar Peso e Altura</a>
                    </li>
                    <li>
                        <i class="fas fa-heartbeat"></i>
                        <a href="gerenciarPressaoArterial.html"> Gerenciar Pressão Arterial</a>
                    </li>
                    <li>
                        <i class="fas fa-skating"></i>
                        <a href="gerenciarAtividadeFisica.html"> Gerenciar Atividades Físicas</a>
                    </li>
                    <li>
                        <i class="fas fa-utensils"></i>
                        <a href="gerenciarAlimentos.html"> Gerenciar Alimentos</a>
                    </li>
                    <li>
                        <i class="fas fa-calculator"></i>
                        <a href="gerenciarIMC.html"> Calcular IMC</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a href="perfil.html"> <i class="fas fa-user"></i> PERFIL</a>
                <a href="PagSocio.html"> <i class="fas fa-sign-out-alt"></i> VOLTAR</a>
            </header>
            <div class="main-content">
                <div class="main-content-title">
                    <h2>DASHBOARD</h2>
                </div>
                <div class="dashboard-content">
                    <div class="dashboard-flex-parent">
                        <div class="dashboard-box">
                            <div class="dashboard-box-wrapper">
                                <div class="box-icon box-weight">
                                    <i class="fas fa-weight"></i>
                                </div>
                                <div class="value">80kg</div>
                                <div class="type">PESO</div>
                                <div class="box-value-percentual box-value-weight">
                                    <i class="fas fa-chevron-up"></i>
                                    10%
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-box">
                            <div class="dashboard-box-wrapper">
                                <div class="box-icon box-pressure ">
                                    <i class="fas fa-heartbeat"></i>
                                </div>
                                <div class="value">23MMHC</div>
                                <div class="type">PRESSÃO ARTERIAL</div>
                                <div class="box-value-percentual box-value-pressure">
                                    <i class="fas fa-chevron-up"></i>
                                    10%
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-box">
                            <div class="dashboard-box-wrapper">
                                <div class="box-icon box-imc">
                                    <i class="fas fa-calculator"></i>
                                </div>
                                <div class="value">23,2</div>
                                <div class="type">IMC</div>
                                <div class="box-value-percentual box-value-imc">
                                    <span>NORMAL</span>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-box">
                            <div class="dashboard-box-wrapper">
                                <div class="box-icon box-workout">
                                    <i class="fas fa-biking"></i>
                                </div>
                                <div class="value">BICICLETA</div>
                                <div class="type">ATIVIDADE FISICA</div>
                                <div class="box-value-percentual box-value-workout">
                                    <i class="far fa-calendar-alt"></i>
                                    <span>24/06/2022</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grafico">
                    <canvas id="myChart" width="160" height="100"></canvas>
                </div>
            </div>
        </main>
    </div>
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/jquery/jquery-validation-1.19.3/dist/jquery.validate.min.js"></script>
    <script src="../plugins/jquery/jquery-validation-1.19.3/dist/additional-methods.min.js"></script>
    <script src="../plugins/jquery/jquery-validation-1.19.3/dist/localization/messages_pt_BR.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
    <script src="../plugins/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
    <script src="../plugins/jquery/sweetalert/dist/sweetalert2.all.min.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"
        integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const ctx = document.getElementById('myChart').getContext("2d")

        const gradient = ctx.createLinearGradient(0, 0, 0, 400)
        gradient.addColorStop(0, '#ffa600')
        gradient.addColorStop(1, '#e60000')

        const labels = [
            'Jan',
            'Fev',
            'Mar',
            'Abr',
            'Mai',
            'Jun',
            'Jul',
            'Ago',
            'Set',
            'Out',
            'Nov',
            'Dez'
        ]

        const data = {
            labels,
            datasets: [{
                data: [60, 65, 59, 64, 70, 75, 69, 78, 81, 85, 81, 90],
                label: "SUA EVOLUÇÃO",
                fill: true,
                backgroundColor: gradient,
                borderColor: 'transparent'
            }]
        }
        Chart.defaults.font.size = 16;

        var chart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'DESENVOLVIMENTO CORPORAL'
                    },
                },
                responsive: true,
                radius: 4,
                hoverRadius: 8,
            }
        });

        const myChart = new Chart(ctx, config)
    </script>
 </body>

</html>