<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <a href="..//views/index.html">
                    <h2>PowerFit</h2>
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="dashboard.html">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="..//views/gerenciarPesoAltura.html">
                            <i class="fas fa-weight"></i>
                        </a>
                    </li>
                    <li>
                        <a href="..//views/gerenciarPressaoArterial.html">
                            <i class="fas fa-heartbeat"></i>
                        </a>
                    </li>
                    <li>
                        <a href="..//views/gerenciarAtividadeFisica.html"><i class="fas fa-skating"></i></a>
                    </li>
                    <li>
                        <a href="..//views/gerenciarAlimentos.html">
                            <i class="fas fa-utensils"></i>
                        </a>
                    </li>
                    <li>
                        <a href="..//views/gerenciarIMC.html">
                            <i class="fas fa-calculator"></i>
                        </a>
            </div>
        </sidebar>

        <main>
            <header>
                <a href="#"> <i class="fas fa-user"></i></a>

                <a href="PagSocio.html"> <i class="fas fa-sign-out-alt"></i></a>
            </header>

            <div class="main-content">
                <div class="row">
                    <h3>DASHBOARD</h3>
                    <div class="grafico col-sm-12">
                        <canvas id="myChart" width="110" height="40"></canvas>
                    </div>
                </div>
                <div class="row segundaLinha">
                    <div class="grafico2 col-sm-3">
                        <i class="fas fa-dumbbell peso"></i>
                        <h3>PESO ATUAL</h3>
                        <h3 id="kg">90KG</h3>
                        <br>
                        <p id="seta"> <i class="fas fa-chevron-up seta"></i> +5KG</p>
                    </div>
                    <div class="grafico2 col-sm-3">
                        <i class="fas fa-calculator calculadora"></i>
                        <h3>IMC</h3>
                        <h3 id="kg">24,9</h3>
                        <br>
                        <p id="check"> <i class="fas fa-check check"></i> NORMAL</p>
                    </div>
                    <div class="grafico2 col-sm-3">
                        <i class="fas fa-heartbeat coracao"></i>
                        <h3>PRESSÃO ARTERIAL</h3>
                        <h3 id="kg">140/90MMHG</h3>
                        <br>
                        <p id="pressao"> <i class="fas fa-exclamation-triangle pressao"></i> ALTA</p>
                    </div>
                </div>

                <div class="row segundaLinha">
                    <div class="col-sm-3 grafico2">
                        <i class="fas fa-running atividade"></i>
                        <h3>ATIVIDADE FÍSICA</h3>
                        <h3 id="kg">CORRIDA</h3>
                        <br>
                        <p id="calendario"><i class="fas fa-calendar-alt calendario"></i> 15/01/2022</p>
                    </div>
                    <div class="col-sm-3 grafico2">
                        <i class="fas fa-glass-whiskey agua"></i>
                        <h3>HIDRATAÇÃO</h3>
                        <h3 id="kg">HOJE: 2L</h3>
                        <br>
                        <p id="beber"><i class="fas fa-plus beber"></i> 3L</p>
                    </div>
                    <div class="col-sm-3 grafico2">
                        <i class="fas fa-apple-alt maca"></i>
                        <h3>ALIMENTAÇÃO</h3>
                        <h3 id="kg">HOJE: PROTEÍNAS</h3>
                        <br>
                        <p id="beber"><i class="fas fa-plus beber"></i> 160g</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/fontawesome/js/all.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const ctx = document.getElementById('myChart').getContext("2d")

        const gradient = ctx.createLinearGradient(0, 0, 0, 400)
        gradient.addColorStop(0, '#ffa600')
        gradient.addColorStop(1, '#e60000')

        const labels = [
            'Jan',
            'Fev',
            'Mar',
            'Abr',
            'Mai',
            'Jun',
            'Jul',
            'Ago',
            'Set',
            'Out',
            'Nov',
            'Dez'
        ]

        const data = {
            labels,
            datasets: [{
                data: [60, 65, 59, 64, 70, 75, 69, 78, 81, 85, 81, 90],
                label: "SUA EVOLUÇÃO",
                fill: true,
                backgroundColor: gradient,
                borderColor: 'transparent'
            }]
        }
        Chart.defaults.font.size = 16;

        var chart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'DESENVOLVIMENTO CORPORAL',
                    },
                },
                responsive: true,
                radius: 4,
                hoverRadius: 8,
            }
        });

        const myChart = new Chart(ctx, config)
    </script>
</body>


</html>