<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatibsle" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="../css/dicasSaude.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>DICAS</title>
</head>

<body style="margin-top: 70px;">

    <!--NAV BAR-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="container">
                <a style="font-size: 2.5rem;" href="#" class="navbar-brand">SGT</a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#barraNav">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                </div>
                <div id="barraNav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">AGENDAMENTO</a></li>
                        <li class="dropdownn">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">DICAS<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../views/resumoMusculacao.html">EXERCICÍOS FÍSICOS</a></li>
                                <li><a href="../views/resumoNutricao.html">NUTRIÇÃO</a></li>
                                <li><a href="../views/resumoSaude.html">SAÚDE</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> CADASTRO</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--FIM NAVBAR -->

       <!--INICIO DA PARTE DAS DICAS SOBRE UMA VIDA MELHOR-->
       <div class="row" id="dicasBemEstar">
        <div class="col-sm-12">
            <div class="container" id="containerDicas">
                <h1 class="text-center" id="textDicasBemEstar">Dicas sobre bem estar!</h1>
                <div id="DicaAlimentacao">
                    <h3 class="text-center">Alimente-se bem</h3>
                    <div class="col-sm-6">
                        <img class="img-responsive" src="../img/alimento.jpg" id="imagemAlimento" class style="margin: auto;" />
                    </div>
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores suscipit sequi voluptas expedita ab iste eum unde dolor doloremque beatae corporis, nemo ipsa maxime voluptates alias vel culpa debitis recusandae? Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Cumque id eum in esse temporibus eos corporis dolore porro veniam eveniet ipsam similique vel ducimus repudiandae, vitae expedita animi! Voluptatibus, rem! Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Itaque ab corrupti quod ea dignissimos voluptate voluptas, esse voluptatum, totam veritatis veniam provident numquam ipsum! Alias ad mollitia repudiandae harum molestiae. </p>
                            <p>Ha muitas vantagens ao se alimenatar CORRETAMENTE e algumas delas sao:</p>
                        <ol>
                            <ul>conteudo</ul>
                            <ul>conteudo</ul>
                            <ul>conteudo</ul>
                            <ul>conteudo</ul>
                            <ul>conteudo</ul>
                        </ol>
                    </div>
                <p>Uma boa alimentacao certamente melhora a sua vida Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolorem quae nesciunt provident unde, saepe corrupti porro magni consequuntur dolor dolore ad deserunt quis nihil, asperiores
                    animi dicta blanditiis ratione. lorem </p>
                </div>
                <br>
                <div id="DicaDurma">
                    <h3 class="text-center">Durma bem e descanse</h3>
                    <div class="col-sm-6">
                        <img class="img-responsive arrounded" src="../img/durma.jpg" style="margin: auto;">
                    </div>
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus inventore modi non a dolorem dolores veritatis cupiditate odio vero veniam, iusto quisquam, temporibus, reprehenderit deserunt commodi! Esse magnam soluta fuga. Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Ab temporibus ipsum repudiandae odit suscipit dolorem blanditiis beatae laborum, culpa quia tempore sint? Porro eligendi atque eos, quam tenetur aspernatur architecto. Lorem ipsum
                        dolor sit amet consectetur, adipisicing elit. Nobis, laboriosam dolor? Adipisci, eaque. Cumque excepturi saepe voluptatibus voluptatem itaque? Ipsam est numquam quidem facilis neque accusantium nam sequi nulla assumenda! lorem</p>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus inventore modi non a dolorem dolores veritatis cupiditate odio vero veniam, iusto quisquam, temporibus, reprehenderit deserunt commodi! Esse magnam soluta fuga. Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>
            </div>   
        </div>
    </div>


    <footer data-aos="fade-up">
        <!--SOBRE AGT-->
        <div id="principal">
            <div id="subPrincipal" class="container">
                <h2>Sobre o PowerFit:</h2>
                <p>O PowerFit - SGT é um sistema que te permite controlar seu dia a dia na academia, sua saúde, bem estar e muito mais! <a id="assine" href="#">Assine já e mantenha-se saudável!</a></p>
            </div>
            <br>
            <div class="container"></div>
            <div id="subPrincipal" class="container">
                <h2>Funcionalidades:</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <!--FIM SOBRE-->
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>