<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Health Track</title>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <h2>PowerFit</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <i class="fas fa-weight"></i>
                        <a href="gerenciarPesoAltura.html"> Gerenciar Peso e Altura</a>
                    </li>
                    <li>
                        <i class="fas fa-heartbeat"></i>
                        <a href="gerenciarPressaoArterial.html"> Gerenciar Pressão Arterial</a>
                    </li>
                    <li>
                        <i class="fas fa-skating"></i>
                        <a href="gerenciarAtividadeFisica.html"> Gerenciar Atividades Físicas</a>
                    </li>
                    <li>
                        <i class="fas fa-utensils"></i>
                        <a href="gerenciarAlimentos.html"> Gerenciar Alimentos</a>
                    </li>
                    <li>
                        <i class="fas fa-calculator"></i>
                        <a href="gerenciarIMC.html"> Calcular IMC</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a href="#"> <i class="fas fa-user"></i> PERFIL</a>
                <a href="PagSocio.html"> <i class="fas fa-sign-out-alt"></i> SAIR</a>
            </header>

            <div class="main-content">
                <div class="main-content-title">
                    <h2>Gerenciar Pressao Arterial</h2>
                </div>
                <div class="panel-row">
                    <button class="panel panel-50" a-view="cadastrarPressao" onclick="fetchContent(this)" a-folder="pressao">Cadastrar peso</button>
                    <button class="panel panel-50" a-view="visualizarPressao" onclick="fetchContent(this)" a-folder="pressao">Visualizar peso</button>
                </div>
                <div class="content" id="ajax-content">

                </div>             
            </div>

        </main>
    </div>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>