<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>IMC</title>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <a href="..//views/index.html">
                    <h2>PowerFit</h2>
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="dashboard.html">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="..//views/gerenciarPesoAltura.html">
                            <i class="fas fa-weight"></i>
                        </a>
                    </li>
                    <li>
                        <a href="..//views/gerenciarPressaoArterial.html">
                            <i class="fas fa-heartbeat"></i>
                        </a>
                    </li>
                    <li>
                        <a href="..//views/gerenciarAtividadeFisica.html"><i class="fas fa-skating"></i></a>
                    </li>
                    <li>
                        <a href="..//views/gerenciarAlimentos.html">
                            <i class="fas fa-utensils"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-calculator"></i>
                        </a>
            </div>
        </sidebar>

        <main>
            <header>
                <a href="#"> <i class="fas fa-user"></i></a>

                <a href="PagSocio.html"> <i class="fas fa-sign-out-alt"></i></a>
            </header>

            <div class="main-content">
            </div>
    </div>
    </main>
    </div>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/fontawesome/js/all.min.js"></script>
</body>

</html>