<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../plugins/jquery/sweetalert/dist/sweetalert2.min.css">
    <title>Health Track</title>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <h2>PowerFit</h2>
            </div>
            <div class="menu">
                <ul>
                    <li class="selected">
                        <a id="dashPanel" href="dashboard.html"><i class="fas fa-home"></i></a>
                    </li>
                    <li>
                        <a href="gerenciarPesoAltura.html"><i class="fas fa-weight"></i></a>
                    </li>
                    <li>
                        <a href="gerenciarPressaoArterial.html"><i class="fas fa-heartbeat"></i></a>
                    </li>
                    <li>
                        <a href="gerenciarAtividadeFisica.html"><i class="fas fa-skating"></i></a>
                    </li>
                    <li>
                        <a href="gerenciarAlimentos.html"><i class="fas fa-utensils"></i></a>
                    </li>
                    <li>
                        <a href="gerenciarIMC.html"><i class="fas fa-calculator"></i></a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a href="perfil.html"> <i class="fas fa-user"></i></a>
                <a href="PagSocio.html"> <i class="fas fa-sign-out-alt"></i></a>
            </header>
            <div class="main-content">
                <div class="main-content-title">
                    <h2>Perfil</h2>
                </div>
                <div class="perfil-parent">
                    <div class="perfil">
                        <div class="perfil-img">
                            <div class="img">

                            </div>
                        </div>
                        <div class="perfil-form">
                            <form id="form-perfil">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Nome completo</label>
                                    <input type="text" name="nome" class="form-control" id="name" placeholder="Nome">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                                </div>
                                <div class="mb-3">
                                    <label for="idade" class="form-label">Idade</label>
                                    <input type="text" name="idade" class="form-control" id="age" placeholder="Idade">
                                </div>
                                <div class="mb-3">
                                    <label for="cpf" class="form-label">CPF</label>
                                    <input type="text" name="cpf" class="form-control" id="cpf" placeholder="cpf">
                                </div>
                                <div class="mb-3">
                                    <label for="genre" class="form-label">Genero</label>
                                    <select name="genero" class="form-select" id="genre">
                                        <option value="1">Masculino</option>
                                        <option value="2">Feminino</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="endereco" class="form-label">Endereco</label>
                                    <input type="text" name="endereco" class="form-control" id="adress" placeholder="Endereco">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Selecione uma foto de perfil</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                                <button type="submit" class="btn">Salvar</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </main>
    </div>
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/jquery/jquery-validation-1.19.3/dist/jquery.validate.min.js"></script>
    <script src="../plugins/jquery/jquery-validation-1.19.3/dist/additional-methods.min.js"></script>
    <script src="../plugins/jquery/jquery-validation-1.19.3/dist/localization/messages_pt_BR.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../plugins/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
    <script src="../js/perfil.js"></script>
    <script src="../plugins/jquery/sweetalert/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>