<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatibsle" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="../css/estiloSaibaMais.css">
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Saúde</title>
</head>

<body style="margin-top: 20px;">

    <!--NAV BAR-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="container">
                <a style="font-size: 2.5rem;" href="../views/index.html" class="navbar-brand">PowerFit</a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#barraNav">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                </div>
                <div id="barraNav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdownn">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">DICAS<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../views/resumoMusculacao.html">EXERCICÍOS FÍSICOS</a></li>
                                <li><a href="../views/resumoNutricao.html">NUTRIÇÃO</a></li>
                                <li><a href="../views/resumoSaude.html">SAÚDE</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--FIM NAVBAR -->

    <!--BANNER-->
    <div id="banner">
        <video style=" margin-top: 50px;" id="background" src="../video/saude.mp4" autoplay="true" muted="true" loop="true">
		</video>
        <div id="conteudo">
            <h1 id="content">Saúde - Previa</h1>
        </div>
    </div>
    <!--FIM BANNER-->

    <!--CONTEUDO PREVIO-->
 
<!--FIM CONTEUDO PREVIO-->

    <!--PQ É IMPORTANTE-->
    <div class="container" style="margin-top:300px; margin-bottom: 50px;">
        <div class="row" id="rowMusculacao">
            <div data-aos="slide-up" id="colunaMusculacao" class="col-sm-6">
                <h1>Tenha uma vida saudável!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, quia doloremque! Aliquid nobis esse aperiam sint odio impedit repudiandae doloremque minus quasi quod! Aliquid consectetur sunt rem, in impedit beatae.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ipsam repellat atque magnam eos, rerum, eum placeat ad quae vel numquam minus sunt! Exercitationem nisi dolore quam sint voluptatum repellat.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nulla et, ullam aliquid esse eum ad, quia sequi vitae animi laboriosam cupiditate quaerat. Iure, ullam laboriosam nam quia itaque magni?</p>
            </div>

            <div data-aos="fade" data-aos-duration="3000" class="col-sm-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/w6lqLoSOcLI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!--FIM PQ É IMPORTANTE-->

    <footer data-aos="slide-up">
       <!--SOBRE AGT-->
    <div id="principal">
        <div id="subPrincipal" class="container">
            <h2>Sobre o PowerFit:</h2>
            <p>O PowerFit - SGT é um sistema que te permite controlar seu dia a dia na academia, sua saúde, bem estar e muito mais! <a id="assine" href="#">Assine já e mantenha-se saudável!</a></p>
        </div>
        <br>
        <div class="container"></div>
        <div id="subPrincipal" class="container">
            <h2>Funcionalidades:</h2>
            <li>Análise e cáculo de IMC;</li>
            <li>Gráficos de desempenho;</li>
            <li>Controle de alimentação e treinos;</li>
            <li>Gerenciamento de altura e peso.</li>
        </div>
    </div>
    <!--FIM SOBRE-->
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>